config RTFRAME_DATAMAN
	bool "dataman persistent storage module"
	default n
	---help---
		Enable support for dataman


menuconfig RTFRAME_DATAMAN_PERSISTENT_STORAGE
	bool "dataman supports persistent storage"
	default n
	depends on RTFRAME_DATAMAN
	---help---
		Dataman supports reading/writing to persistent storage


config RTFRAME_DATAMAN_MAX_MISSION_ITEMS
	int "Maximum number of mission items"
	default 500
	depends on RTFRAME_DATAMAN
	---help---
		This limit always applies if mission items are stored on the SD card or in RAM. It should be set
		adequately per boards such that if the items are stored in RAM they still fit the available memory.
		The runtime parameter to configure the storage option is `SYS_DM_BACKEND`.
