[submodule "middlewares/zephyr"]
	path = middlewares/zephyr
	url = git@github.com:mx3g-jh/zephyr.git
[submodule "hardware/hal_nxp"]
	path = hardware/hal_nxp
	url = https://github.com/zephyrproject-rtos/hal_nxp
[submodule "hardware/cmsis"]
	path = hardware/cmsis
	url = https://github.com/zephyrproject-rtos/cmsis
[submodule "hardware/cmsis_6"]
	path = hardware/cmsis_6
	url = https://github.com/zephyrproject-rtos/CMSIS_6
[submodule "hardware/fatfs"]
	path = hardware/fatfs
	url = https://github.com/zephyrproject-rtos/fatfs
[submodule "src/modules/mavlink/mavlink"]
	path = src/modules/mavlink/mavlink
	url = https://github.com/mx3g-jh/mavlink.git
[submodule "src/lib/heatshrink/heatshrink"]
	path = src/lib/heatshrink/heatshrink
	url = https://github.com/mx3g-lab/heatshrink_px4.git
[submodule ".claude/skills"]
	path = .claude/skills
	url = git@github.com:mx3g-lab/SKILLS.git
