#
# Copyright (c) 2021, NXP
#
# SPDX-License-Identifier: Apache-2.0
#

CONFIG_CONSOLE=y
CONFIG_SHELL=y
CONFIG_UART_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_GPIO=y
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_FLEXSPI_CONFIG_BLOCK_OFFSET=0x400

# Enable Regulators
CONFIG_REGULATOR=y
CONFIG_REGULATOR_FIXED_INIT_PRIORITY=65

# Sensor RTIO DMA config
# CONFIG_SPI_NXP_LPSPI_DMA is not set
# CONFIG_SPI_NXP_LPSPI_CPU_RTIO is not set

CONFIG_TICKLESS_KERNEL=y

# Added by sync_defconfig
CONFIG_RTFRAME_USB_CDC_MANUFACTURER="RTFrame"
CONFIG_RTFRAME_USB_CDC_MAX_POWER=125
CONFIG_RTFRAME_USB_CDC_PID=0x0001
CONFIG_RTFRAME_USB_CDC_PRODUCT="RTFrame CM7"
CONFIG_RTFRAME_USB_CDC_VID=0x2fe3
CONFIG_UORB_SUBSCRIBE_HANDLE_MAX=64

# Added by sync_defconfig
CONFIG_RTFRAME_CRC=y
CONFIG_RTFRAME_HEATSHRINK=y
CONFIG_RTFRAME_HRT=y
CONFIG_RTFRAME_LOG=y
CONFIG_RTFRAME_MATHLIB=y
CONFIG_RTFRAME_MATRIX=y
CONFIG_RTFRAME_PERF=y
CONFIG_RTFRAME_RINGBUFFER=y
